{
  "org": {
    "neo4j": {
      "server": {
        "database": {
          "location": "{{ NEO4J_HOME }}/data/graph.db"
        },
        "db": {
          "tuning": {
            "properties": "{{ NEO4J_HOME }}/conf/neo4j.properties"
          }
        },
        "http": {
          "log": {
            "enabled": false,
            "config": "{{ NEO4J_HOME }}/conf/neo4j-http-logging.xml"
          }
        },
        "webserver": {
          "address": "0.0.0.0",
          "port": {{ port }},
          "https": {
            "enabled": false,
            "port": {{ port + 1 }},
            "keystore": {
              "location": "{{ NEO4J_HOME }}/data/keystore"
            }
          }
        },
        "webadmin": {
          "rrdb": {
            "location": "{{ NEO4J_HOME }}/data/rrd"
          }
        },
        "thirdparty_jaxrs_classes": "org.neo4j.examples.server.unmanaged=/examples/unmanaged"
      }
    }
  },
  "dbms": {
    "security": {
      "auth_enabled": false,
      "tls_certificate_file": "{{ NEO4J_ROOT }}/conf/ssl/snakeoil.cert",
      "tls_key_file": "{{ NEO4J_ROOT }}/conf/ssl/snakeoil.key",
      "load_csv_file_url_root": "{{ NEO4J_HOME }}/data/import"
    },
    "pagecache": {
      "memory": "10g"
    }
  },
  "allow_store_upgrade": true,
  "cypher_parser_version": "2.0",
  "keep_logical_logs": "30 days",
  "remote_shell_enabled": true,
  "remote_shell_host": "0.0.0.0",
  "remote_shell_port": {{ port + 2 }}
}
