["trigger", "__ROOT_DIR__/bundled/preload/files", {
  "name": "asset",
  "expression": ["type", "f"],
  "ignore_dirs": ["hook", "log", ".git"],
  "command": ["__ROOT_DIR__/hook/watchman-callback.sh"],
  "stdin": ["name", "exists", "new", "size"],
  "stdout": ">>__ROOT_DIR__/log/watchman-callback.log",
  "stderr": ">>__ROOT_DIR__/log/watchman-callback.log",
  "chdir": "__ROOT_DIR__"
}]
